<template>
	<div class="p-grid">
		<Toast />
		<div class="p-col-12">
			<div class="card card-w-title">
				<h1>Customers</h1>

				<DataTable :value="customers" class="p-datatable-responsive" :selection.sync="selectedCustomer" 
					selectionMode="single" dataKey="id" 
					:paginator="true" :rows="10" :filters="filters" :loading="loadingCustomersState">
					<template #empty>
						No records found
					</template>
					<template #header>
						<div class="p-grid">
							<div class="p-col-4" style="text-align: left;">
								<Button type="button" icon="pi pi-plus" @click="createCustomer()"></Button>
							</div>
							<div class="p-col-4">
								List of Customers
							</div>
							<div class="p-col-4">
							</div>
						</div>
					</template>
					<Column field="name" header="Name" :sortable="true" filterMatchMode="contains">
						<template #body="slotProps">
                            {{slotProps.data.name}}
                        </template>
                        <template #filter>
                            <InputText type="text" v-model="filters['name']" class="p-column-filter" placeholder="Contains" />
                        </template>
					</Column>
					<Column field="email" header="E-Mail" :sortable="true" filterMatchMode="contains">
						<template #body="slotProps">
							{{slotProps.data.email}}
                        </template>
                        <template #filter>
                            <InputText type="text" v-model="filters['email']" class="p-column-filter" placeholder="Contains" />
                        </template>
					</Column>
					<Column field="phone" header="Phone" :sortable="true" filterMatchMode="contains">
						<template #body="slotProps">
							{{slotProps.data.phone}}
                        </template>
                        <template #filter>
                            <InputText type="text" v-model="filters['phone']" class="p-column-filter" placeholder="Contains" />
                        </template>
					</Column>
					<Column field="id" headerStyle="width: 8em; text-align: center" bodyStyle="text-align: center">
						<template #body="slotProps">
							<Button type="button" icon="pi pi-pencil" class="p-button-success" @click="editCustomer(slotProps.data)"></Button>
							<Button type="button" icon="pi pi-trash" class="p-button-danger" style="margin-left: .5em" @click="confirmDeleteCustomer(slotProps.data)"></Button>
						</template>
					</Column>
				</DataTable>
			</div>
		</div>
		
		<Dialog header="Customer Form" :visible="displayCustomerForm" :style="{width: '35vw'}" :modal="true" :closable="false">
			
			<div class="p-grid">
				<div class="p-col-12 p-md-2">
					<label htmlFor="inputName">Name</label>
				</div>
				<div class="p-col-12 p-md-10">
					<InputText id="inputName" @focus.native="$event.target.select()" required v-model="selectedCustomer.name"/>
				</div>
			</div>
			<div class="p-grid">
				<div class="p-col-12 p-md-2">
					<label htmlFor="inputEmail">E-Mail</label>
				</div>
				<div class="p-col-12 p-md-10">
					<InputText type="email" id="inputEmail" size="40" @focus.native="$event.target.select()" v-model="selectedCustomer.email"/>
				</div>
			</div>
			<div class="p-grid">
				<div class="p-col-12 p-md-2">
					<label htmlFor="inputPhone">Phone</label>
				</div>
				<div class="p-col-12 p-md-10">
					<InputMask mask="(99) 99999-9999" placeholder="(99) 99999-9999" 
						@focus.native="$event.target.select()" v-model="selectedCustomer.phone"/>
				</div>
			</div>
			
			<template #footer>
				<Button label="Save" icon="pi pi-check" class="p-button-primary" @click="saveCustomer()"/>
				<Button label="Close" icon="pi pi-times" class="p-button-secondary" @click="closeCustomerForm()"/>
			</template>
		</Dialog>

		<Dialog header="Delete Customer" :visible="displayCustomerDeleteConfirmation" :modal="true">
			Confirm Customer {{this.selectedCustomer.name}} exclusion?
			<template #footer>
				<Button label="Yes" icon="pi pi-check" class="p-button-primary" @click="deleteCustomer()"/>
				<Button label="No" icon="pi pi-times" class="p-button-secondary" @click="closeDeleteCustomer()"/>
			</template>
		</Dialog>

	</div>

</template>

<script>

import CustomerService from '../service/CustomerService';

export default {
	data() {
		return {
			loadingCustomersState: true,
			selectedCustomer: null,
			displayCustomerForm: false,
			isNewCustomer: false,
			displayCustomerDeleteConfirmation: false,
			customers: [],
			filters: {}    
		}
	},
	customersService: null,
	created() {
		this.customersService = new CustomerService();
		this.initEmptyCustomer();
	},
	mounted() {
		this.getCustomers();
	},
	methods: {
		async getCustomers(){
			this.customers = await this.customersService.getItems();
			this.loadingCustomersState = false;
		},
		async saveCustomer(){
			if (this.isNewCustomer){
				await this.customersService.create(this.selectedCustomer);
			} else {
				let customer = JSON.parse(JSON.stringify(this.selectedCustomer));
				let id = customer.id;
				delete customer.id;
				await this.customersService.update(id, customer);
			}
			this.$toast.add({severity:'success', summary: 'Save', detail:'Customer Saved', life:3000});
			await this.getCustomers();
			this.displayCustomerForm = false;
		},
		async deleteCustomer(){
			await this.customersService.delete(this.selectedCustomer.id);
			this.selectedCustomer = null;
			this.getCustomers();
			this.closeDeleteCustomer();
			this.$toast.add({severity:'success', summary: 'Delete', detail:'Customer Deleted', life:3000});
		},
		initEmptyCustomer(){
			this.selectedCustomer = {name:null,email:null,phone:null};
			this.isNewCustomer = true;
		},
		createCustomer(){
			this.initEmptyCustomer();
			this.displayCustomerForm = true;
		},
		confirmDeleteCustomer(customer){
			this.selectedCustomer = customer;
			this.displayCustomerDeleteConfirmation = true;
		},
		closeDeleteCustomer(){
			this.displayCustomerDeleteConfirmation = false;
		},
		closeCustomerForm(){
			this.displayCustomerForm = false;
		},
		editCustomer(customer){
			this.selectedCustomer = JSON.parse(JSON.stringify(customer));
			this.isNewCustomer = false;
			this.displayCustomerForm = true;
		},
		onSelectCustomerDataTable(event){
			this.editCustomer(event.data);
		}
	}
}
</script>

<style scoped>
</style>