<template>
	<div class="p-grid">
		<Toast />
		<div class="p-col-12">
			<div class="card card-w-title">
				<h1>Products</h1>

				<DataTable :value="products" class="p-datatable-responsive" :selection.sync="selectedProduct" 
					selectionMode="single" dataKey="id" 
					:paginator="true" :rows="10" :filters="filters" :loading="loadingProductsState">
					<template #empty>
						No records found
					</template>
					<template #header>
						<div class="p-grid">
							<div class="p-col-4" style="text-align: left;">
								<Button type="button" icon="pi pi-plus" @click="createProduct()"></Button>
							</div>
							<div class="p-col-4">
								List of Products
							</div>
							<div class="p-col-4">
							</div>
						</div>
					</template>
					<Column field="name" header="Name" :sortable="true" filterMatchMode="contains">
						<template #body="slotProps">
                            {{slotProps.data.name}}
                        </template>
                        <template #filter>
                            <InputText type="text" v-model="filters['name']" class="p-column-filter" placeholder="Contains" />
                        </template>
					</Column>
					<Column field="cost" header="Cost" :sortable="true">
						<template #body="slotProps">
							<div class="currency-column">{{slotProps.data.cost}}</div>							
                        </template>
                        <template #filter>
                            <InputText type="number" v-model="filters['cost']" class="p-column-filter" placeholder="Starts with" />
                        </template>
					</Column>
					<Column field="saleValue" header="Sale Value" :sortable="true">
						<template #body="slotProps">
                            <div class="currency-column">{{slotProps.data.saleValue}}</div>
                        </template>
                        <template #filter>
                            <InputText type="number" v-model="filters['saleValue']" class="p-column-filter" placeholder="Starts with" />
                        </template>
					</Column>
					<Column field="profit" header="Profit" :sortable="true">
						<template #body="slotProps">
                            <div class="currency-column">{{slotProps.data.profit}}</div>
                        </template>
                        <template #filter>
                            <InputText type="number" v-model="filters['profit']" class="p-column-filter" placeholder="Starts with" />
                        </template>
					</Column>
					<Column field="minimalStockAlert" header="Minimal Stock Alert" :sortable="true">
						<template #body="slotProps">
                            <div class="currency-column">{{slotProps.data.minimalStockAlert}}</div>
                        </template>
                        <template #filter>
                            <InputText type="number" v-model="filters['minimalStockAlert']" class="p-column-filter" placeholder="Starts with" />
                        </template>
					</Column>
					<Column field="id" headerStyle="width: 8em; text-align: center" bodyStyle="text-align: center">
						<template #body="slotProps">
							<Button type="button" icon="pi pi-pencil" class="p-button-success" @click="editProduct(slotProps.data)"></Button>
							<Button type="button" icon="pi pi-trash" class="p-button-danger" style="margin-left: .5em" @click="confirmDeleteProduct(slotProps.data)"></Button>
						</template>
					</Column>
				</DataTable>
			</div>
		</div>
		
		<Dialog header="Product Form" :visible="displayProductForm" :style="{width: '30vw'}" :modal="true" :closable="false">
			
			<div class="p-grid">
				<div class="p-col-12 p-md-4">
					<label htmlFor="inputName">Name</label>
				</div>
				<div class="p-col-12 p-md-8">
					<InputText id="inputName" v-model="selectedProduct.name" @focus.native="$event.target.select()"/>
				</div>
			</div>
			<div class="p-grid">
				<div class="p-col-12 p-md-4">
					<label htmlFor="inputCost">Cost</label>
				</div>
				<div class="p-col-12 p-md-8">
					<InputText id="inputCost" v-currency v-model="selectedProduct.cost" @focus.native="$event.target.select()"/>
				</div>
			</div>
			<div class="p-grid">
				<div class="p-col-12 p-md-4">
					<label htmlFor="inputMinimalStockAlert">Minimal Stock Alert</label>
				</div>
				<div class="p-col-12 p-md-8">
					<InputText id="inputMinimalStockAlert" v-currency v-model="selectedProduct.minimalStockAlert" @focus.native="$event.target.select()"/>
				</div>
			</div>
			<div class="p-grid">
				<div class="p-col-12 p-md-4">
					<label htmlFor="inputSaleValue">Sale Value</label>
				</div>
				<div class="p-col-12 p-md-8">
					<InputText id="inputSaleValue" v-currency v-model="selectedProduct.saleValue" @focus.native="$event.target.select()"/>
				</div>
			</div>
			<div class="p-grid">
				<div class="p-col-12 p-md-4">
					<label htmlFor="inputProfit">Profit</label>
				</div>
				<div class="p-col-12 p-md-8">
					<InputText id="inputProfit" v-currency v-model="selectedProduct.profit" @focus.native="calculateSelectedProductProft();$event.target.select()"/>
				</div>
			</div>
			
			<template #footer>
				<Button label="Save" icon="pi pi-check" class="p-button-primary" @click="saveProduct()"/>
				<Button label="Close" icon="pi pi-times" class="p-button-secondary" @click="closeProductForm()"/>
			</template>
		</Dialog>

		<Dialog header="Delete Product" :visible="displayProductDeleteConfirmation" :modal="true">
			Confirm product {{this.selectedProduct.name}} exclusion?
			<template #footer>
				<Button label="Yes" icon="pi pi-check" class="p-button-primary" @click="deleteProduct()"/>
				<Button label="No" icon="pi pi-times" class="p-button-secondary" @click="closeDeleteProduct()"/>
			</template>
		</Dialog>

	</div>

</template>

<script>

import ProductsService from '../service/ProductsService';

export default {
	data() {
		return {
			loadingProductsState: true,
			selectedProduct: null,
			displayProductForm: false,
			isNewProduct: false,
			displayProductDeleteConfirmation: false,
			products: [],
			filters: {}    
		}
	},
	productsService: null,
	created() {
		this.productsService = new ProductsService();
		this.initEmptyProduct();
	},
	mounted() {
		this.getProducts();
	},
	methods: {
		async getProducts(){
			this.products = await this.productsService.getItems();
			this.loadingProductsState = false;
		},
		async saveProduct(){
			if (this.isNewProduct){
				await this.productsService.create(this.selectedProduct);
			} else {
				let product = JSON.parse(JSON.stringify(this.selectedProduct));
				let id = product.id;
				delete product.id;
				await this.productsService.update(id, product);
			}
			this.$toast.add({severity:'success', summary: 'Save', detail:'Product Saved', life:3000});
			await this.getProducts();
			this.displayProductForm = false;
		},
		async deleteProduct(){
			await this.productsService.delete(this.selectedProduct.id);
			this.selectedProduct = null;
			this.getProducts();
			this.closeDeleteProduct();
			this.$toast.add({severity:'success', summary: 'Delete', detail:'Product Deleted', life:3000});
		},
		initEmptyProduct(){
			if (this.selectedProduct){
				this.selectedProduct.name = null;
			} else {
				this.selectedProduct = {name:null,cost:0.00,minimalStockAlert:0.00,saleValue:0.00,profit:0.00};
			}
			this.isNewProduct = true;
		},
		createProduct(){
			this.initEmptyProduct();
			this.displayProductForm = true;
		},
		confirmDeleteProduct(product){
			this.selectedProduct = product;
			this.displayProductDeleteConfirmation = true;
		},
		closeDeleteProduct(){
			this.displayProductDeleteConfirmation = false;
		},
		closeProductForm(){
			this.displayProductForm = false;
		},
		editProduct(product){
			this.selectedProduct = JSON.parse(JSON.stringify(product));
			this.isNewProduct = false;
			this.displayProductForm = true;
		},
		onSelectProductDataTable(event){
			this.editProduct(event.data);
		},
		calculateSelectedProductProft(){
			if (this.selectedProduct && this.selectedProduct.cost && this.selectedProduct.saleValue){
				const saleValue = parseFloat(this.selectedProduct.saleValue.replace(".","").replace(",",".")).toFixed(2);
				const cost = parseFloat(this.selectedProduct.cost.replace(".","").replace(",",".")).toFixed(2);
				let profit = saleValue-cost;
				this.selectedProduct.profit = profit.toLocaleString("pt-BR");
			}
		}
	}
}
</script>

<style scoped>
.currency-column{
	text-align: right;
}
</style>