<template>
	<div class="p-grid">
		<Toast />
		<div class="p-col-12">
			<div class="card card-w-title">
				<h1>Sale</h1>
				<Button type="button" icon="pi pi-plus" @click="createSale()"></Button>
			</div>
		</div>
		
		<Dialog header="Sale Form" :visible="displaySaleForm" :style="{width: '50vw'}" :modal="true" :closable="false">
			<template #header>
			<div class="p-grid">
				<div class="p-col-3">
					<div>
						<label htmlFor="inputSaleDate">Sale Date</label>
					</div>
					<div>
						<Calendar v-model="selectedSale.saleDate" :showIcon="true" :showButtonBar="true" />
					</div>
				</div>
				<div class="p-col-3">
					<div>
						<label htmlFor="inputPaymentDate">Payment Date</label>
					</div>
					<div>
						<Calendar v-model="selectedSale.paymentDate" :showIcon="true" :showButtonBar="true" />
					</div>
				</div>
				<div class="p-col-3">
					<div>
						<label htmlFor="checkboxPayed">Is Payed</label>
					</div>
					<div>
						<Checkbox id="checkboxPayed" value="Payed" v-model="payed" :binary="true" @change="onPayedChange($event)"/>
					</div>
				</div>
				<div class="p-col-3">
					<div>
						<label htmlFor="inputTotal">Total</label>
					</div>
					<div>
						<InputText id="inputTotal" v-currency v-model="selectedSale.total"/>
					</div>
				</div>
			</div>
			</template>
			
			
			<div class="p-grid">
				<div class="p-col-3">
					<div>
						<label htmlFor="inputProduct">Product</label>
					</div>
					<div>
						<AutoComplete v-model="selectedProduct" :suggestions="filteredProducts" @complete="searchProducts($event)" :dropdown="true" field="name">
							<template #item="slotProps">
								<div class="p-autocomplete-product-list-item">{{slotProps.item.name}}</div>						
							</template>
						</AutoComplete>
					</div>
				</div>
				<div class="p-col-3">
					<div>
						<label htmlFor="inputProduct">Quantity</label>
					</div>
					<div>
						<InputText id="inputQuantity" v-currency @focus.native="$event.target.select()" v-model="quantity"/>
					</div>
				</div>
				<div class="p-col-6">
					<Button label="Add" icon="pi pi-plus" class="p-button-primary" @click.stop="addProduct($event)"/>
					<Button label="Clear" icon="pi pi-undo" class="p-button-secondary" />
				</div>
			</div>
			<DataTable :value="selectedSale.products" class="p-datatable-responsive" dataKey="productId">
				<template #empty>
					No records found
				</template>
				<Column field="productName" header="Product" :sortable="true">
					<template #body="slotProps">
                    	{{slotProps.data.productName}}
                    </template>
				</Column>
				<Column field="unitPrice" header="Unit Price" :sortable="true" headerStyle="width: 10em;" bodyStyle="witdh: 10em;">
					<template #body="slotProps">
						<div class="currency-column">{{slotProps.data.unitPrice}}</div>
					</template>
				</Column>
				<Column field="quantity" header="Quanrity" :sortable="true" headerStyle="width: 10em;" bodyStyle="witdh: 10em;">
					<template #body="slotProps">
						<div class="currency-column">{{slotProps.data.quantity}}</div>
					</template>
				</Column>
				<Column field="amount" header="Amount" :sortable="true" headerStyle="width: 10em;" bodyStyle="witdh: 10em;">
					<template #body="slotProps">
						<div class="currency-column">{{slotProps.data.amount}}</div>
					</template>
				</Column>
				<Column field="productId" headerStyle="width: 5em; text-align: center" bodyStyle="text-align: center">
					<template #body="slotProps">
						<Button type="button" icon="pi pi-trash" class="p-button-danger" @click="confirmDeleteCustomer(slotProps.data)"></Button>
					</template>
				</Column>
			</Datatable>
			<template #footer>
				<Button label="Save" icon="pi pi-check" class="p-button-primary" @click="saveSale()"/>
				<Button label="Close" icon="pi pi-times" class="p-button-secondary" @click="closeSaleForm()"/>
			</template>
		</Dialog>

	</div>

</template>

<script>

import SaleService from '../service/SaleService';
import ProductsService from '../service/ProductsService';

export default {
	data() {
		return {
			isNewSale:true,
			selectedSale:null,
			customer:{id:"9nkkrVQrTHswqqBVmo19"},
			selectedProduct:null,
			filteredProducts:null,
			selectedCustomer:null,
			filteredCustomers:null,
			displaySaleForm:false,
			payed:false,
			quantity:"0,00",
		}
	},
	saleService: null,
	productsService: null,
	created() {
		this.saleService = new SaleService();
		this.productsService = new ProductsService();
		this.initEmptySale();
	},
	mounted() {
		this.getSales(this.customer.id);
	},
	methods: {
		async getSales(){
			this.sales = await this.saleService.getItems(this.customer.id);
			this.loadingSalesState = false;
		},
		async saveSale(){
			if (this.isNewSale){
				await this.saleService.create(this.customer.id,this.selectedSale);
			} else {
				let sale = JSON.parse(JSON.stringify(this.selectedSale));
				let id = sale.id;
				delete sale.id;
				await this.saleService.update(id, sale);
			}
			this.$toast.add({severity:'success', summary: 'Save', detail:'Sale Saved', life:3000});
			await this.getSales();
			this.displaySaleForm = false;
		},
		async deleteSale(){
			await this.saleService.delete(this.selectedSale.id);
			this.selectedSale = null;
			this.getSales();
			this.closeDeleteSale();
			this.$toast.add({severity:'success', summary: 'Delete', detail:'Sale Deleted', life:3000});
		},
		initEmptySale(){
			this.selectedProduct = null;
			this.filteredProducts = null;
			this.selectedSale = {
				saleDate: new Date(),
				paymentDate: null,
				total: "32,70",
				obs: null,
				products:[
					{productId:"qPSfMuVLFKizyephP3GM",productName:"mantecal castanha do para", cost:"6,93", unitPrice:"10,90",quantity:"2",amount:"21,80"},
					{productId:"5hGwtKIqjQNlT3zgv2YL",productName:"carolina", cost:"6,93", unitPrice:"10,90",quantity:"1",amount:"10,90"},
				]
			};
			this.isNewSale = true;
		},
		createSale(){
			this.initEmptySale();
			this.displaySaleForm = true;
		},
		confirmDeleteSale(sale){
			this.selectedSale = sale;
			this.displaySaleDeleteConfirmation = true;
		},
		closeDeleteSale(){
			this.displaySaleDeleteConfirmation = false;
		},
		closeSaleForm(){
			this.displaySaleForm = false;
		},
		editSale(sale){
			this.selectedSale = JSON.parse(JSON.stringify(sale));
			this.isNewSale = false;
			this.displaySaleForm = true;
		},
		addProduct(event){
			let quantityValue = parseFloat(this.quantity.replace(".","").replace(",",".")).toFixed(2);
			let unitPriceValue = parseFloat(this.selectedProduct.saleValue.replace(".","").replace(",",".")).toFixed(2);
			let amountCalculated = quantityValue * unitPriceValue;
			let product = {
				productId: this.selectedProduct.id,
				productName: this.selectedProduct.name,
				cost: this.selectedProduct.cost,
				unitPrice: this.selectedProduct.saleValue,
				quantity: this.quantity,
				amount: amountCalculated.toLocaleString("pt-BR")
			}
			this.selectedSale.products.push(product);
			let saleTotalValue = parseFloat(this.selectedSale.total.replace(".","").replace(",",".")).toFixed(2);
			saleTotalValue = saleTotalValue + amountCalculated;
			this.selectedSale.total = saleTotalValue.toLocaleString("pt-BR");
			this.payed = false;
			this.quantity = "0,00";
			this.selectedProduct = null;
		},
		deleteProduct(event){
			
			},
		async searchProducts(event){
			this.filteredProducts = await this.productsService.getFilteredItems(event.query);
		},
		onPayedChange(event){
			this.selectedSale.paymentDate = new Date();
		},
		calculateSelectedSaleProft(){
			if (this.selectedSale && this.selectedSale.cost && this.selectedSale.saleValue){
				const saleValue = parseFloat(this.selectedSale.saleValue.replace(".","").replace(",",".")).toFixed(2);
				const cost = parseFloat(this.selectedSale.cost.replace(".","").replace(",",".")).toFixed(2);
				let profit = saleValue-cost;
				this.selectedSale.profit = profit.toLocaleString("pt-BR");
			}
		}
	}
}
</script>

<style scoped>
.p-autocomplete-product-list-item {
	border-bottom: 1px solid silver;
    padding: 5px;
    margin: -5px;
}

.currency-column{
	text-align: right;
}
</style>